.icon-row {
  display: flex;
  justify-content: space-between;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-row__icon i {
  font-size: 35px;
}
.icon-row__icon span {
  font-size: 18px;
  margin-top: 15px;
}
