.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(133, 133, 133, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: #2e363e;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(150deg);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  position: absolute;
  left: 20px;
  bottom: 16px;
  animation: notificationAnimation 1s ease-in-out infinite;
}

.nav__update {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: tomato;
  position: absolute;
  left: 32px;
  bottom: 26px;
}

@keyframes appearBtnAnimation {
  from {
    transform: translateY(60px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.nav__btn {
  transform: translateY(60px);
  opacity: 0;
  animation: appearBtnAnimation 0.3s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.3s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.6s;
}
.nav__btn:last-child {
  animation-delay: 0.9s;
}
