.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 10px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons {
  position: relative;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__update {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: tomato;
  position: absolute;
  right: -5px;
  bottom: 18px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
